<section>
<h2> Edit Post</h2>


<form class="edit-post post-title">
 <div class="form-group d-grid gap-2 col-6 mx-auto">

            <textarea type="text" class="post-title" rows="1" value="{{post.title}}" post-id="{{post.id}}"></textarea>
          <br>
            <textarea type="text" class="post-content" placeholder="Start writing your post here" rows="8" value="{{post.content}}">{{post.content}}{{post.post_text}}</textarea>
        </div>

        <div class="d-grid gap-1 col-6 mx-auto">
            <button type="submit" class="btn btn-primary edit-post">Save Changes</button>
            <button type="submit" class="btn btn-danger mt-2 delete-post">Delete Post</button>
        </div>
</form>


</section>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
